<footer class="footer">
  <div class="footer-content">
    <a href="{{ site.social_links.github }}" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 24px; height: 24px;">
    </a>
    <a href="{{ site.social_links.linkedin }}" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" style="width: 24px; height: 24px;">
    </a>
    <a href="{{ site.social_links.website }}" target="_blank">
      <img src="https://cdn-icons-png.flaticon.com/512/1946/1946488.png" alt="Website" style="width: 24px; height: 24px;">
    </a>
  </div>
</footer>
